/*!
 * Start Bootstrap - The Big Picture (https://startbootstrap.com/template-overviews/the-big-picture)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-the-big-picture/blob/master/LICENSE)
 */

 html {
   height: 100%;
 }
body {
  min-height:100vh;
  background: #5E94E1 no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  color: #fff;
}
.flex-fill {
   flex:1 1 auto;
}
