<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>NEWS DASHBOARD</title>

    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
    <style>
      html {
        height: 100%;
        }

      body {
         min-height:100%;
         background: #5E94E1 no-repeat center center fixed;
         -webkit-background-size: cover;
         -moz-background-size: cover;
         background-size: cover;
         -o-background-size: cover;
         color: #666;
         display: flex;
         margin-left: 20px;
         margin-right: 20px;
         justify-content: center;
         align-items: center;
       }

       .flex-fill {
          flex:1 1 auto;
       }

       .description {
         text-align: justify;
         font-size: 28px;
       }

       h1 {
         font-weight: bold;
         text-transform: uppercase;
       }

       .item {
         hyphens: auto;
         text-align: justify;
         border-radius: 15px;
         background: #fff;
         padding: 7px;
         margin: 10px;
         min-height: 45%;
         min-width: 40%;
       }

    </style>

  </head>

  <body class="text-center">

      <div class="row">
      {% for item in feed_items %}
        <div class="col item">
          <h1>{{ item.title|safe }}</h1>
          <div class="description">{{ item.description|safe }}</div>
        </div>
      {% endfor %}
      </div>

  </body>
</html>
