<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>NEWS DASHBOARD</title>

    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
    <style>
      html {
        height: 100%;
        }

      body {
         min-height:100%;
         background: #6699CC no-repeat center center fixed;
         -webkit-background-size: cover;
         -moz-background-size: cover;
         background-size: cover;
         -o-background-size: cover;
         color: #fff;
         display: flex;
         margin-left: 100px;
         margin-right: 100px;
         justify-content: center;
         align-items: center;
       }

       .flex-fill {
          flex:1 1 auto;
       }

       .description {
         text-align: justify;
         font-size: 30px;
       }

       h1 {
         font-weight: bold;
         text-transform: uppercase;
         margin-bottom: 50px;
         line-height: 1.5;
       }

       .item {
         hyphens: auto;
         text-align: justify;
         border-radius: 15px;
         background: #6699CC;
         padding: 25px;
         margin: 30px;
         min-height: 95%;
         min-width: 95%;
       }

       img {
        float: left;
        margin: 0 35px 35px 0;
        width: 55%;
        height: auto;
       }

    </style>

  </head>

  <body class="text-center">

      <div class="row">

        <div class="col item">
          <h1>{{ item.title|safe }}</h1>
          <div class="description">{{ item.description|safe }}</div>
        </div>

      </div>

  </body>
</html>
